        <!-- J Query -->
        <script src="./javascripts/jquery-3.5.1.min.js"></script>
        <!-- Bootstrap Js -->
        <script src="./javascripts/bootstrap.min.js"></script>
        <!-- My Script -->
        <script src="./javascripts/script.js"></script>
        <noscript>
            <div class="alert alert-danger">
                <strong>Error!</strong> Either your browser does not support javascript or
                it has been deactivated.
                <strong>Please do fix the above for best site performance and refresh the
                    page.
                </strong>
            </div>
        </noscript>
    </body>
</html>