        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous"></script>    
        <!-- Bootstrap js -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
        crossorigin="anonymous"></script>
        <!-- My js file -->
        <script src="/javascripts/script.js"></script>
        
        <noscript>
            <div class="alert alert-danger">
                <strong>Error!</strong> Either your browser does not support javascript or
                it has been deactivated.
                <strong>Please do fix the above for best site performance and refresh the
                    page.
                </strong>
            </div>
        </noscript>
    </body>
</html>