<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Colorbox</title>
        <link rel="shortcut icon" type="image/png" href="../img/favicon.ico"/>
        <!-- Bootstrap Css -->
        <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="./fontawesome/css/all.min.css">
        <!-- my Css -->
        <link rel="stylesheet" href="./stylesheets/style.css">
    </head>